name: Qodana
on:
  pull_request:
    types: [opened, synchronize]

jobs:
  qodana-backend:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: "Qodana Backend Scan"
        uses: JetBrains/qodana-action@v2025.2
        with:
          args: |
            --source-directory,backend,--config,qodana-backend.yaml
          artifact-name: qodana-backend
